body{
  font-family: "微软雅黑";
}
.date-picker-input{
  width: auto;
  margin: 20px auto;
  cursor: pointer;
}
.text-date-picker{
  width: 620px;
  background: #fff;
  position: absolute;
  z-index: 999;
}
.text-date-picker>div{
  position: relative;
}
.text-date-picker>div>table{
  border:none;
  box-shadow: 0 5px 30px rgba(0,0,0,0.2);  
  margin-bottom: 0;
}
.text-date-picker>div>table>tbody>tr>td{
  width: 14.28571%;
  height: 97px;
  vertical-align:middle;
  cursor: pointer;
}
.text-date-picker>div>table .date-hd{
  display:table-row;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background-color: #5fc1ef;
}
.text-date-picker>div>table>tbody>tr>.date{
  display:table-cell;
  height:50px;
  line-height:50px;
  font-size: 16px;
  font-weight: 700;
  border-bottom:1px #e1e1e1 solid;
  padding: 0;
}
.text-date-picker>div .date-pop{
  width:100%;
  height:1px;
  line-height:50px;
  text-align: center;
  background:#f9f9f9;
  color:#333;
  font-size: 14px;
  overflow:hidden;
}
.text-date-picker>div .date-pop select{
  display: inline-block;
  width:30%;
}
.text-date-picker>div .date-pop span.glyphicon{
  font-size: 18px;
}
.text-date-picker>div .date-pop span.glyphicon.glyphicon-remove-sign{
  color:#CC1100;
}
.text-date-picker>div>table>tbody>tr>.date span{
  display: inline-block;
  margin-left: 6px;
  margin-top: -1px;
}
.text-date-picker>div>table>tbody>tr>.date span.glyphicon{
  color: #5fc1ef;
}
.text-date-picker>div>table .week{
  color:#5fc1ef;
}
.text-date-picker>div>table .week td{
  padding:0;
  height:80px;
  line-height:80px;
}
.text-date-picker>div>table>tbody>tr>td{
  border:none;
}
.text-date-picker>div>table>tbody>tr>td.last-month-day,.text-date-picker>div>table>tbody>tr>td.next-month-day{
  color:#bfbfbf;
}
.text-date-picker>div>table>tbody>tr>td.today{
  background: #5fc1ef;
  color:#fff;
}
.text-date-picker>div>table>tbody>tr>td.current-month-day.today:hover{
  background: #5fc1ef;
  color:#fff;
}
.text-date-picker>div>table>tbody>tr>td span.day{
  font-weight: 700;
}
.text-date-picker>div>table>tbody>tr>td span.price{
  color:#f0ad4e;
  font-weight: 700;
}
.text-date-picker>div>table>tbody>tr>td span.festival{
  font-size:12px;
  color: #888;
}
.text-date-picker>div>table>tbody>tr>td.last-month-day  span.festival,
.text-date-picker>div>table>tbody>tr>td.next-month-day  span.festival,
.text-date-picker>div>table>tbody>tr>td.last-month-day  span.price,
.text-date-picker>div>table>tbody>tr>td.next-month-day  span.price{
  color:#bfbfbf;  
}
.text-date-picker>div>table>tbody>tr>td.current-month-day:hover{
  background:#f9f9f9;
}
.text-date-picker .text-date-picker-prev{
  position: absolute;
  left:13px;
  top:13px;
  font-size:22px;
  color:#fff;
  cursor: pointer;
}
.text-date-picker .text-date-picker-next{
  position: absolute;
  right:13px;
  top:13px;
  font-size:22px;
  color:#fff;
  cursor: pointer;
}
.text-date-picker .back-today{
  width:100%;
  height:40px;
  text-align:center;
  cursor:pointer;
  border-top:1px #e1e1e1 solid;
}
/* small */
.text-date-picker.small{
    width: 350px;
}
.text-date-picker.small>div>table>tbody>tr>td{
  width: 14.28571%;
  height: 50px;
  vertical-align:middle;
  cursor: pointer;
}
.text-date-picker.small>div>table .date-hd{
  height: 50px;
  line-height: 50px;
  color: #fff;
  background-color: #5fc1ef;
  padding:0;
}
.text-date-picker.small>div>table>tbody>tr>.date{
  height:50px;
  line-height:50px;
  padding:0;
}
.text-date-picker.small>div>table .week td{
  padding:0;
  height:50px;
  line-height:50px;
  padding:0;
}
.text-date-picker.small .text-date-picker-prev{
  top:13px;
}
.text-date-picker.small .text-date-picker-next{
  top:13px;
}